@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-font: Roboto, sans-serif;
    --color-white: #ffffff;
    --color-dark-w: #303030;
    --color-blue: #3a43c2;
    --color-light-blue: #7f85dd;
    --color-light-red: #ff5353;
    --color-black: #181616;
    --color-transperent: transperent;
}

body {
    font-family: var(--main-font);
    color: var(--color-white);
    background-color: var(--color-dark-w);
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 67.5rem;
    margin: 0 auto;
}

.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider__title {
    font-size: 3.5rem;
    margin-top: auto;
    margin-bottom: 2rem;
}

.slider__wrapper {
    width: 90%;
    height: 37.5rem;
    margin-bottom: auto;
}

.slider__slides {
    width: 100%;
    height: 31.25rem;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    border: 0.0625rem solid var(--color-blue);
    border-radius: 1.25rem;
    background-color: var(--color-black);
    overflow: hidden;
}

.slider__slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    background-position: center;
    background-repeat: no-repeat;
}

.image-1 {
    background: url('../images/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image-2 {
    background: url('../images/2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image-3 {
    background: url('../images/3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image-4 {
    background: url('../images/4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}